
*.db
*.opendb
*.ipch
*.cache
*.rc
NKHook5/.vs/NKHook5/v16/.suo
*.metagen
*.pdb
*.dll
*.exe
*.config
NKHook5/NKHook5-Injector/obj/Debug/NKHook5-Injector.csproj.FileListAbsolute.txt
NKHook5/NKHook5-Injector/obj/Release/NKHook5-Injector.csproj.FileListAbsolute.txt
*.aps
*.ico
*.obj
*.log
*.tlog
NKHook5/NKHook5/Debug/NKHook5.vcxproj.FileListAbsolute.txt
*.pch
*.res
*.p7s
*.lib
*.db-shm
*.db-wal
*.ilk
*.idb
packages/
*.iobj
*.ipdb
*.exp
*.enc
*.recipe
*.vcxproj
*.vcxproj.filters
*.sln
*.CMakeFiles
CMakeFiles/
*.dir/
*.cmake
.vscode/