.vscode/
.vs/
.idea/
*.vcxproj
*.vcxproj.filters
*.cmake
*.sln
*.csproj
CMakeCache.txt
CMakeFiles/
Obj/
x64/
bin/
*.dll
*.pdb
*.dir/
Win32/
_deps/
out/
build/
mdkconf.json
*.tmp
!ziplib/Debug/
!ziplib/Release/
!**/ziplib/Debug/*.lib
!**/ziplib/Release/*.lib
cmake-build-debug/